:root {
  --md-sys-color-primary-src: rgb(0 212 170);
  --md-sys-color-primary-bright-src: rgb(0 245 204);
  --md-sys-color-secondary-src: rgb(106 210 114);
  --md-sys-color-tertiary-src: rgb(240 165 0);
  --md-sys-color-primary: rgb(19 107 85);
  --md-sys-color-surface-tint: rgb(19 107 85);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(163 242 215);
  --md-sys-color-on-primary-container: rgb(0 81 63);
  --md-sys-color-secondary: rgb(57 105 59);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(186 240 182);
  --md-sys-color-on-secondary-container: rgb(33 80 37);
  --md-sys-color-tertiary: rgb(126 87 14);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 221 175);
  --md-sys-color-on-tertiary-container: rgb(97 64 0);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(245 251 246);
  --md-sys-color-on-background: rgb(23 29 26);
  --md-sys-color-surface: rgb(245 251 246);
  --md-sys-color-on-surface: rgb(23 29 26);
  --md-sys-color-surface-variant: rgb(219 229 223);
  --md-sys-color-on-surface-variant: rgb(63 73 69);
  --md-sys-color-outline: rgb(111 121 116);
  --md-sys-color-outline-variant: rgb(191 201 195);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 50 47);
  --md-sys-color-inverse-on-surface: rgb(236 242 238);
  --md-sys-color-inverse-primary: rgb(136 214 187);
  --md-sys-color-primary-fixed: rgb(163 242 215);
  --md-sys-color-on-primary-fixed: rgb(0 33 24);
  --md-sys-color-primary-fixed-dim: rgb(136 214 187);
  --md-sys-color-on-primary-fixed-variant: rgb(0 81 63);
  --md-sys-color-secondary-fixed: rgb(186 240 182);
  --md-sys-color-on-secondary-fixed: rgb(0 33 6);
  --md-sys-color-secondary-fixed-dim: rgb(159 212 156);
  --md-sys-color-on-secondary-fixed-variant: rgb(33 80 37);
  --md-sys-color-tertiary-fixed: rgb(255 221 175);
  --md-sys-color-on-tertiary-fixed: rgb(40 24 0);
  --md-sys-color-tertiary-fixed-dim: rgb(242 190 110);
  --md-sys-color-on-tertiary-fixed-variant: rgb(97 64 0);
  --md-sys-color-surface-dim: rgb(213 219 215);
  --md-sys-color-surface-bright: rgb(245 251 246);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 245 240);
  --md-sys-color-surface-container: rgb(233 239 235);
  --md-sys-color-surface-container-high: rgb(228 234 229);
  --md-sys-color-surface-container-highest: rgb(222 228 223);
}